<!DOCTYPE html>
<html>
  <head>
    <title>Members</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1>Members</h1>

    {{#each members}}
      <p>id: {{ id }}</p>
      <p>Name: {{ name }}</p>
      <p>Guild: {{ guild.name }}</p>
      <p>Title: {{ title }}</p>
      <p>Active: {{#if is_active}} Active {{else}} Not Active {{/if}}</p>

      <br>
    {{/each}}
  </body>
</html>
