<div class="container">
  <h1>
    Events Stats
  </h1>
  <table class="table">
    <tr>
      <th>
        Name
      </th>
      <th>
        Position
      </th>
      <th>
        Guild Pts
      </th>
      <th>
        Solo Pts
      </th>
      <th>
        League
      </th>
      <th>
        Solo Rank:
      </th>
      <th>
        Global Rank:
      </th>
    </tr>
    {{#each eventStats}}
      <tr>
        <td>
          <p>
            {{member.name}}
          </p>
        </td>
        <td>
          <p>
            {{position}}
          </p>
        </td>
        <td>
          <p>
            {{guildPts}}
          </p>
        </td>
        <td>
          <p>
            {{soloPts}}
          </p>
        </td>
        <td>
          <p>
            {{league.name}}
          </p>
        </td>
        <td>
          <p>
            {{soloRank}}
          </p>
        </td>
        <td>
          <p>
            {{globalRank}}
          </p>
        </td>
      </tr>
    {{/each}}
  </table>
</div>