  <h1>Events Stats</h1>

  {{#each eventStats}}
    <p>Event: {{ event.name }}</p>
    <p>Name: {{ member.name }}</p>
    <p>Guild: {{ member.guild.name }}</p>
    <p>Position: {{ position }}</p>
    <p>Guild Pts: {{ guildPts }}</p>
    <p>Solo Pts: {{ soloPts }}</p>
    <p>League: {{ league.name }}</p>
    <p>Solo Rank: {{ soloRank }}</p>
    <p>Global Rank:{{ globalRank }}</p>
    <br>
  {{/each}}

